.Home{
  padding: 2rem;
  background-color: var(--colour-secundary);
}

.ListUser{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.1rem;
  margin: 0 8rem 3rem;
}